/*
  Berkeley Mono is a commercial typeface.
  Place licensed files in apps/web/public/fonts/ (see that folder's README),
  then restore url(...) entries below. Until then, only local() is used so
  missing /fonts/*.woff2 files do not 404 on every boot.
*/

@font-face {
  font-family: 'Berkeley Mono';
  src: local('Berkeley Mono'), local('BerkeleyMono');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: local('Berkeley Mono Medium'), local('BerkeleyMono-Medium');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: local('Berkeley Mono Bold'), local('BerkeleyMono-Bold');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
