[Unit]
Description=Schedule Edicius sentiment collector passes

[Timer]
OnCalendar=*-*-* 0/4:00:00
Persistent=true
RandomizedDelaySec=30
Unit=edicius-sentiment.service

[Install]
WantedBy=timers.target
