[Unit]
Description=Schedule Edicius Airfare collector passes

[Timer]
OnCalendar=*-*-* *:0/15:00
OnBootSec=2min
Persistent=true
RandomizedDelaySec=30
Unit=edicius-airfare.service

[Install]
WantedBy=timers.target
